<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
/** @var $configProvider \Magento\Search\ViewModel\ConfigProvider */
$helper = $this->helper(\Magento\Search\Helper\Data::class);
$configProvider = $block->getData('configProvider');
?>
<div class="icon-menu">
    <span class="icon"></span>
</div>
<div class="icon-search">
    <span class="icon"></span>
    <form class="form minisearch" id="search_mini_form"
          action="<?= $block->escapeUrl($helper->getResultUrl()) ?>" method="get">
        <div class="form-info">
            <div class="field search">
                <div class="control">
                    <input id="search"
                        <?php if ($configProvider->isSuggestionsAllowed()):?>
                            data-mage-init='{"quickSearch":{
                                    "formSelector":"#search_mini_form",
                                    "url":"<?= $block->escapeUrl($helper->getSuggestUrl())?>",
                                    "destinationSelector":"#search_autocomplete",
                                    "minSearchLength":"<?= $block->escapeHtml($helper->getMinQueryLength()) ?>"}
                               }'
                        <?php endif;?>
                           type="text"
                           name="<?= $block->escapeHtmlAttr($helper->getQueryParamName()) ?>"
                           value="<?= /* @noEscape */ $helper->getEscapedQueryText() ?>"
                           placeholder="<?= $block->escapeHtmlAttr(__('search…')) ?>"
                           class="input-text"
                           maxlength="<?= $block->escapeHtmlAttr($helper->getMaxQueryLength()) ?>"
                           role="combobox"
                           aria-haspopup="false"
                           aria-autocomplete="both"
                           autocomplete="off"
                           aria-expanded="false"/>
                    <div id="search_autocomplete" class="search-autocomplete"></div>
                    <?= $block->getChildHtml() ?>
                </div>
            </div>
            <div class="actions">
                <button type="submit"
                        title="<?= $block->escapeHtml(__('Search')) ?>"
                        class="action search"
                        aria-label="Search"
                ></button>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        require ([
            'jquery'
        ], function ($) {
            $(document).ready(function () {
                $('.icon-search .icon').click(function (e){
                    $(this).closest('.icon-search').find('.form.minisearch').toggleClass('active');
                    $(this).closest('.icon-search').find(".form.minisearch input").focus();
                    e.stopPropagation();
                });
                $(".icon-search .icon").parent().click(function(e){
                    e.stopPropagation();
                });
                $("html,body").click(function(){
                    $(".icon-search .form.minisearch").removeClass("active");
                });
                $('.icon-menu .icon').click(function (){
                    $('.sections.nav-sections').toggleClass('active');
                    $('body').toggleClass('menu-active');
                    if($('body').hasClass('menu-active')) {
                        $('.page-wrapper').after('<div class="overlay"></div>');
                    } else {
                        $('.overlay').remove();
                    }
                });
            });
        });
    </script>
</div>





