<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Framework\App\Action\Action;

/** @var \Magento\CatalogWidget\Block\Product\ProductsList $block */

// phpcs:disable Generic.Files.LineLength.TooLong
// phpcs:disable Magento2.Templates.ThisInTemplate.FoundHelper
?>

<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())): ?>
    <?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $description = false;
    $themHelper = $this->helper('Commercers\Theme\Helper\Data');
    $_imageHelper = $this->helper('Magento\Catalog\Helper\Image');
    $resizeW = 348;
    $resizeH = 435;
    $pos = $block->getPositioned();
    ?>
    <div class="product-items <?= /* @noEscape */ $type ?>">
        <?php $iterator = 1; ?>
        <?php foreach ($items as $_item): ?>
            <?= /* @noEscape */ ($iterator++ == 1) ? '<div class="product-item">' : '</div><div class="product-item">' ?>
                <div class="product-image">
                    <?php
                    $productImage = $block->getImage($_item, 'category_page_grid');
                    if ($pos != null) {
                        $position = 'left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;';
                    }
                    ?>
                    <?php // Product Image ?>
                    <?php
                    $flipImage = $themHelper->getFlipImage($_item->getId(), $resizeW, $resizeH);
                    ?>

                    <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>" class="product-item-photo <?php echo ($flipImage) ? 'has-flip' : '' ?>">
                        <div class="img-front">
                            <img src="<?php echo $_imageHelper->init($_item, 'product_base_image')->resize($resizeW,$resizeH)->getUrl(); ?>" />
                        </div>
                        <?php if($flipImage): ?>
                            <div class="img-back">
                                <img src="<?= $flipImage ?>" />
                            </div>
                        <?php endif; ?>
                    </a>
                </div>
                <div class="product-item-details">
                    <strong class="product-item-name">
                        <a title="<?= $block->escapeHtml($_item->getName()) ?>"
                           href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                           class="product-item-link">
                            <?= $block->escapeHtml($_item->getName()) ?>
                        </a>
                    </strong>
                    <?= $block->getProductPriceHtml($_item, $type) ?>
                </div>
            <?= ($iterator == count($items) + 1) ? '</div>' : '' ?>
        <?php endforeach ?>
    </div>
    <?php if($block->getBlockHtml('formkey')): ?>
        <script type="text/x-magento-init">
    {
        ".block.widget [data-role=tocart-form]": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
    </script>
    <?php endif;?>
<?php endif;?>
