body{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 0.9px;
    position: relative;
    left: 0;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
body.cart-active {
    left: initial;
    right: 350px;
    height: 100%;
    overflow: hidden;
}
body.menu-active {
    left: 270px;
    height: 100%;
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}
a, a:visited, a:focus{
    color: #000;
}
a:hover{
    text-decoration: underline;
}
select{
    background: #fff url('../images/select-bg.png') no-repeat 98% 45%;
    background-size: 17px;
    font-family: 'Oswald', sans-serif;
}
#maincontent{
    padding-top: 20px;
}
.icon-search a, .icon-account a, .icon-wishlist a, .icon-cart a{
    display: block;
}
.icon-search .icon, .icon-search .form-info .actions button, .icon-account .icon, .icon-wishlist .icon, .icon-cart .icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    height: 25px;
    width: 25px;
}
.icon-search .form-info .actions button{
    height: 22px;
    width: 22px;
}
.icon-search .icon:hover, .icon-account .icon:hover, .icon-wishlist .icon:hover, .icon-cart .icon:hover{
    background: #f4f4f5;
}
.icon-search .form-info .actions button{
    display: inline-block;
    height: 25px;
    width: 25px;
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
    border: none;
    opacity: 1!important;
}
.icon-search .icon:before{
    content: "";
    display: inline-block;
    height: 25px;
    width: 25px;
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.icon-account .icon:before{
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url('../images/account.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.icon-wishlist .icon:before{
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url('../images/wishlist.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.icon-cart .icon:before{
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url('../images/cart.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/*#search_mini_form{*/
/*    display: none;*/
/*}*/
/*#search_mini_form.active{*/
/*    display: block;*/
/*}*/
.banner-carousel{
    position: relative;
    left: 50%;
    margin-left: -50.45vw;
    width: 100vw;
}
.banner-carousel.owl-carousel .owl-item .bg-banner{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}
.banner-carousel.owl-carousel .owl-dots{
    position: absolute;
    bottom: 20px;
    z-index: 10;
    width: 100%;
}
.banner-carousel.owl-carousel .owl-dots .owl-dot span{
    width: 18px;
    height: 18px;
}
.banner-carousel.owl-carousel .owl-dots .owl-dot.active span,
.banner-carousel.owl-carousel  .owl-dots .owl-dot:hover span{
    background: #fff;
}
.banner-carousel.owl-carousel .owl-nav button{
    position: absolute;
    top: calc(50% - 45px);
    padding: 20px 10px!important;
    background: hsla(0,0%,100%,.7)!important;
    transition: width .15s ease-in-out,opacity .15s ease-in-out;
    border-radius: 1px;
    font-size: 23px;
    width: 30px;
    margin: 0;
    color: #000;
}
.banner-carousel.owl-carousel .owl-nav button.owl-prev{
    left: 18px;
}
.banner-carousel.owl-carousel .owl-nav button.owl-next{
    right: 0;
}
.banner-carousel.owl-carousel .owl-nav button:hover{
    width: 45px;
    color: #000;
}
.banner-carousel .item{
    position: relative;
}
.banner-carousel .item .inner{
    position: absolute;
    bottom: 75px;
    left: 75px;
}
.banner-carousel .item .inner h1{
    font-size: 28px;
    width: 315px;
    font-weight: 500;
    padding: 15px;
    margin-bottom: 15px;
    background: rgba(241,236,236,0.4);
}
.cms-page-view .banner-carousel .item .inner h1{
    font-size: 18px;
    width: 435px;
}
.banner-carousel .item .inner .action.primary, .lp-block .action.primary{
    border-radius: 0;
    border: 1px solid #fff;
    color: #000;
    background: #fff;
}
.banner-carousel .item .inner .action.primary:hover, .lp-block .action.primary:hover{
    color: #fff;
    background: #000;
    border: 1px solid #000;
}
.page-wrapper>.breadcrumbs{
    padding-top: 45px;
}

/* Landing Pages */

.lp-block{
    max-width: 1280px;
    margin: 35px auto 0;
    padding-right: 20px;
    padding-left: 20px;
}
.lp-block > div, .lp-block .img{
    position: relative;
}
.lp-block .block-top img{
    display: block;
}
.lp-block .block-top h2{
    font-size: 30px;
}
.lp-block .inner{
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
    color: #fff;
}
.lp-block .block-bottom{
    display: flex;
    justify-content: space-between;
}
.lp-block .block-center {
    background: #f4dcd6;
    margin: 35px 0;
    padding: 20px;
    text-align: center;
}
.lp-block .block-center h2{
    color: #e50010;
    margin: 0;
    font-size: 23px;
}
.lp-block .block-center p{
    font-size: 13px;
    margin-top: 8px;
}
.lp-block.ladies .block-center .action.primary{
    border-radius: 0;
    border: 1px solid #000;
    color: #fff;
    background: #000;
}
.lp-block.ladies .block-center .action.primary:hover{
    border-radius: 0;
    border: 1px solid #fff;
    color: #000;
    background: #fff;
}
.lp-block.gentlemen .block-bottom{
    margin: 0 -17px;
}
.lp-block.gentlemen .block-bottom > div{
    padding: 0 17px;
}
.lp-block.gentlemen .block-center{
    background-color: #fff;
    background-image: url('../images/hmgoepprod.jpg');
}
.lp-block.gentlemen .block-center h2{
    color: #fff;
    margin-bottom: 15px;
}
/*.header-left .nav-sections-item-content>*{*/
/*    display: block;*/
/*}*/
.cms-ladies .breadcrumbs, .cms-gentlemen .breadcrumbs{
    display: none;
}
.overlay {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    z-index: 99;
    width: 100%;
}
.product-info-bottom ul li:first-child:before{
    content:'';
    background-image: url('../images/icon-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
}
.product-info-bottom ul li:nth-child(2):before{
    content:'';
    background-image: url('../images/icon-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
}
.product-info-bottom ul li:nth-child(3):before{
    content:'';
    background-image: url('../images/icon-3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
}
.product-info-bottom ul li:last-child:before{
    content:'';
    background-image: url('../images/icon-4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 2px;
}
.header-left .navigation .level0.parent:hover > .submenu{
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 20%)!important;
    padding: 25px;
}
.header-left .navigation .level0.parent:hover:before{
    background: #fff;
    top: 37px;
    box-shadow: 0 0 2px rgb(0 0 0 / 20%);
    content: "";
    height: 10px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(50%) rotate(45deg);
    width: 10px;
    z-index: 100;
}
.header-left .navigation .level0.parent:hover:after{
    background: #fff;
    content: "";
    position: absolute;
    height: 10px;
    left: 0;
    right: 0;
    top: 47px;
    z-index: 1000;
    width: 100%;
}
@media only screen and (min-width: 992px){
    .page-header .header.content{
        flex-wrap: wrap;
        align-items: center;
    }
    .page-header .header.content .header-left{
        order: 2;
        width: inherit;
    }
    .page-header .header.content .header-center{
        order: 1;
        width: 100%;
    }
    .page-header .header.content .header-right{
        order: 3;
        width: inherit;
    }
    .cms-ladies .header-left .navigation > ul.sub-menu li{
        padding: 0 29px 0 12px;
    }
    .cms-gentlemen .header-left .navigation > ul.sub-menu li{
        padding: 0 16px 0 12px;
    }
    .navigation .level0.parent > .level-top {
        padding-right: 16px!important;
    }
}
.homepage-top{
    position: relative;
}
.homepage-popup{
    position: absolute;
    top: 0;
    z-index: 5;
    left: 49.35%;
    margin-left: -50vw;
    width: 100vw;
    background: #000;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1.1);
}
.homepage-popup.active{
    opacity: 1;
    visibility: visible;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1.1);
}
.homepage-popup .content{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    max-width: 1920px;
    margin: 0 auto;
}
.homepage-popup .content > div{
    width: 33.333%;
    padding: 15px;
}
.homepage-popup .content > div span{
    padding-left: 40px;
    position: relative;
}
.homepage-popup .content .content-left span:before{
    content:'';
    background-image: url('../images/popup-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 0;
}
.homepage-popup .content .content-center span:before{
    content:'';
    background-image: url('../images/popup-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 0;
}
.homepage-popup .content .content-right span:before{
    content:'';
    background-image: url('../images/popup-3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 0;
}
.homepage-popup .content .icon-close:hover{
    cursor: pointer;
}
.homepage-popup .content .icon-close:before{
    content: "\f00d";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    color: #999;
    position: absolute;
    right: 15px;
    top: 15px;
}
.page-title-wrapper.product{
    display: block;
}
.page-header .header.content .header-right .header-icons .icon-wishlist{
    position: relative;
}
.page-header .header.content .header-right .header-icons .icon-wishlist .block-wishlist{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: -160px;
    width: 250px;
    z-index: 100;
    transition: all .8s cubic-bezier(.23, 1, .32, 1.1);
}
.icon-wishlist > .block-wishlist .block-inner{
    background-color: #fff;
    box-shadow: 0 2px 9px rgb(0 0 0 / 10%);
    padding: 15px;
    position: relative;
}
.icon-wishlist > .block-wishlist .block-inner .block-title{
    border-bottom: 1px solid #e6e6e7;
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    margin: 0 0 15px;
    text-align: center;
}
.icon-wishlist > .block-wishlist .block-inner .block-title strong{
    font-weight: 600;
    font-size: 14px;
}
.icon-wishlist > .block-wishlist .block-inner .product-items{
    padding-left: 0;
    list-style-type: none;
    margin: 0;
    margin-bottom: 0;
}
.icon-wishlist > .block-wishlist .block-inner .product-items .product-item{
    width: 100%;
    padding: 0;
}
.icon-wishlist > .block-wishlist .block-inner .product-items .product-item:last-child{
    margin-bottom: 0;
}
.icon-wishlist > .block-wishlist .block-inner .product-items .product-item .product-item-info{
    display: flex;
    align-items: center;
}
.icon-wishlist > .block-wishlist .block-inner .product-items .product-item .product-item-photo{
    width: 85px;
}
.icon-wishlist > .block-wishlist .block-inner .product-items .product-item .product-item-photo .product-image-container{
    width: 85px!important;
}
.icon-wishlist > .block-wishlist .block-inner .product-items .product-item .product-item-name{
    margin-left: 5px;
}
.icon-wishlist > .block-wishlist .block-inner .product-items .product-item .product-item-name a{
    color: #ccc;
    font-weight: 300;
}
.icon-wishlist > .block-wishlist .block-actions{
    background: #fff;
    box-shadow: 0 2px 9px rgb(0 0 0 / 10%);
    margin-top: 5px;
    padding: 15px;
}
.icon-wishlist > .block-wishlist .block-actions a{
    width: 100%;
    margin: 0;
    text-transform: initial;
    font-weight: 400;
}
.page-header .header.content .header-right .header-icons .icon-wishlist:hover .block-wishlist{
    opacity: 1;
    visibility: visible;
    transition: all .8s cubic-bezier(.23, 1, .32, 1.1);
}
.page-header .header.content .header-right .header-icons .icon-wishlist .block-wishlist .icon{
    display: inline;
}
.page-header .header.content .header-right .header-icons .icon-wishlist .block-wishlist .icon:hover{
    background: none;
}
.page-header .header.content .header-right .header-icons .icon-wishlist .block-wishlist .icon:before{
    height: 13px;
}
.page-header .header.content .header-right .header-icons .icon-wishlist .block-wishlist .empty{
    text-align: center;
}
.page-header .header.content .header-right .header-icons .counter.empty{
    display: none;
}
.page-header .header.content .header-right .header-icons .counter{
    position: absolute;
    right: -5px;
    bottom: 0;
    background: #000;
    color: #fff;
    height: 17px;
    width: 17px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
}
.page-header .header.content .header-right .header-icons .icon-account{
    position: relative;
}
.page-header .header.content .header-right .header-icons .icon-account .block.block-customer{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: -160px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 2px 9px rgb(0 0 0 / 10%);
    z-index: 100;
    transition: all .8s cubic-bezier(.23, 1, .32, 1.1);
}
.page-header .header.content .header-right .header-icons .block.block-customer > div{
    padding: 15px;
}
.page-header .header.content .header-right .header-icons .block.block-customer .block-top{
    border-bottom: 1px solid #eee;
}
.page-header .header.content .header-right .header-icons .block.block-customer .block-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    padding: 0 0 10px;
    text-align: center;
}
.header-icons .block.block-customer .action.primary{
    width: 100%;
    text-align: center;
}
.block.block-customer .block-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block.block-customer .block-bottom > div{
    position: relative;
    padding-left: 30px;
    font-weight: 600;
}
.block.block-customer .block-bottom .block-left:before{
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url('../images/ic-shipping.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 0;
}
.block.block-customer .block-bottom .block-right:before{
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url('../images/wishlist.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 0;
}
.page-header .header.content .header-right .header-icons .icon-account:hover .block.block-customer{
    opacity: 1;
    visibility: visible;
    transition: all .8s cubic-bezier(.23, 1, .32, 1.1);
}
