@media only screen and (max-width: 1500px) and (min-width: 1251px){
    .account-landing-page .register-container.active>div.block-title{
        margin: 0 0 30px!important;
    }
    .account-landing-page .lp-right .lp-account-header>div.lp-logo{
        margin-top: 0!important;
    }
}
@media only screen and (max-width: 991px){
    .page-header .header.content{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 991px) and (min-width: 768px){
    .page-header .header.content>div{
        width: 50%;
    }
    .page-header .header.content .header-left{
        width: 100%;
        order: 3;
        text-align: center;
        margin-top: 10px;
    }
    .page-header .header.content .header-center{
        order: 1;
        justify-content: flex-start
    }
    .page-header .header.content .header-right{
        order: 2;
    }
    .page-header .header.content .header-center>div .actions.switcher-options{
        margin-left: 20px;
        justify-content: flex-start;
    }
    .header-left .navigation ul.sub-menu{
        justify-content: center;
    }
    .page-header .header.content .header-right .header-icons>div.icon-search{
        position: relative;
    }
    #search_mini_form{
        left: -170px;
        width: 210px;
    }
}
@media only screen and (min-width: 768px){
    .header-left .navigation ul.mb-sub-menu{
        display: none;
    }
}
@media only screen and (max-width: 767px){
    .page-header .header.content{
        padding-top: 20px;
    }
    #maincontent{
        padding-top: 0;
    }
    .icon-menu .icon:before{
        content: "\f0c9";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 36px;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 22px;
    }
    .lp-block .block-bottom{
        flex-wrap: wrap;
    }
    .lp-block .block-bottom .img{
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
    .lp-block .block-bottom .img:last-child{
        margin-bottom: 0;
    }
    .banner-carousel.owl-carousel .owl-item .bg-banner{
        height: 255px;
    }
    .account-landing-page .lp-left{
        display: none;
    }
    .account-landing-page .lp-right{
        position: relative;
        margin-top: 130px;
    }
    .account-landing-page .lp-right .login-container.active{
        position: relative;
        background-image: url('../images/login.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 600px;
        align-items: center;
    }
    .account-landing-page .lp-right .register-container.active{
        position: relative;
        background-image: url('../images/register.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 600px;
        align-items: center;
    }
    .account-landing-page .lp-right .register-container.active:after, .account-landing-page .lp-right .login-container.active:after{
        opacity: 1;
        background: rgba(0,0,0,0.5);
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
    }
    .account-landing-page .lp-right .register-container.active > div, .account-landing-page .lp-right .login-container.active > div{
        z-index: 10;
        position: relative;
    }
    .account-landing-page .lp-right .register-container.active > form{
        z-index: 10;
        position: relative;
    }
    .account-landing-page .lp-right .login-container.active .block-title, .account-landing-page .lp-right .registe-container.active .block-title{
        position: absolute;
        top: 75px;
    }
    .header-left .navigation .level0.parent >.submenu{
        display: none!important;
    }
    .header-left .navigation .level0.parent:hover>.submenu{
        display: none!important;
    }
    .header-left .navigation .level0.parent.active >.submenu{
        display: block!important;
    }
}
@media only screen and (max-width: 600px){
    .banner-carousel .item .inner h1, .cms-page-view .banner-carousel .item .inner h1 {
        font-size: 14px;
        width: 245px;
        line-height: 18px;
    }
    .banner-carousel.owl-carousel .owl-nav button.owl-prev{
        left: 0;
    }
    .banner-carousel.owl-carousel .owl-nav button.owl-next{
        right: -2px;
    }
    .banner-carousel.owl-carousel .owl-nav button {
        top: calc(50% - 20px);
        padding: 0 10px 4px !important;
        font-size: 28px;
        line-height: 36px;
    }
    .banner-carousel .item .inner{
        left: 50px;
        bottom: 55px;
    }
}
@media only screen and (max-width: 500px){
    .lp-block{
        margin-top: 30px;
    }
    .lp-block .block-center{
        margin: 30px 0;
    }
    .lp-block .block-top{
        display: flex;
        flex-flow: column-reverse;
    }
    .lp-block .block-top .inner{
        position: relative;
        color: #000;
        bottom: 0;
        margin-bottom: 30px;
    }
    .lp-block .block-top h2{
        font-size: 18px;
        margin-top: 0;
    }
    .lp-block .block-top .action.primary{
        border-radius: 0;
        border: 1px solid #000;
        color: #fff;
        background: #000;
    }
    .lp-block .block-bottom .img{
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
}
