<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Checkout\Block\Cart\Sidebar */
/** @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer */
?>
<div class="icon-cart">
    <span class="icon"></span>
    <span class="action showcart" data-bind="scope: 'minicart_content'">
        <span class="counter qty empty"
              data-bind="css: { empty: !!getCartParam('summary_count') == false && !isLoading() },
           blockLoader: isLoading">
            <span class="counter-number"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
        </span>
    </span>
    <div class="minicart-wrapper">
        <div data-block="minicart">
        <?php if ($block->getIsNeedToDisplaySideBar()):?>
            <div id="minicart-content-wrapper" >
                <div class="content">
                    <span class="action close"></span>
                    <div data-bind="scope: 'minicart_content'">
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    </div>
                </div>
            </div>
            <?= $block->getChildHtml('minicart.addons') ?>
        <?php else: ?>
            <?php $scriptString = <<<script
            require(['jquery'], function ($) {
                $('a.action.showcart').click(function() {
                    $(document.body).trigger('processStart');
                });
            });
script;
            ?>
            <?= /* @noEscape */ $secureRenderer->renderTag('script', [], $scriptString, false); ?>
        <?php endif ?>
        <?= /* @noEscape */ $secureRenderer->renderTag('script', [], 'window.checkout = ' .
            /* @noEscape */ $block->getSerializedConfig(), false); ?>
        <script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?= $block->escapeJs(
                $block->escapeUrl($block->getViewFileUrl('images/loader-1.gif'))
            ) ?>"
        }
    }
    </script>
    </div>
    </div>
    <script type="text/javascript">
        require ([
            'jquery'
        ], function ($) {
            $(document).ready(function () {
                $(".icon-cart .icon, .icon-cart .action.close").click(function (){
                    $('#minicart-content-wrapper').toggleClass('active');
                    $('body').toggleClass('cart-active');
                    if($('body').hasClass('cart-active')) {
                        $('.page-wrapper').after('<div class="overlay"></div>');
                    } else {
                        $('.overlay').remove();
                    }
                });
                // $('.icon-cart .action.close').click(function (){
                //     $('#minicart-content-wrapper').toggleClass('active');
                //     $('body').toggleClass('cart-active');
                //     if($('body').hasClass('cart-active')) {
                //         $('.page-wrapper').after('<div class="overlay"></div>');
                //     } else {
                //         $('.overlay').remove();
                //     }
                // });
            });
        });

    </script>
</div>

