// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@active-nav-indent: 54px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .panel.header {
        .links,
        .switcher {
            display: none;
        }
    }

    .nav-sections {
        .lib-css(background, @navigation__background);
    }

    .nav-toggle {
        .lib-icon-font(
            @icon-menu,
            @_icon-font-size: 28px,
            @_icon-font-color: @header-icons-color,
            @_icon-font-color-hover: @header-icons-color-hover
        );
        .lib-icon-text-hide();
        cursor: pointer;
        display: block;
        font-size: 0;
        left: 15px;
        position: absolute;
        top: 15px;
        z-index: 14;
    }
    .header-left{
        .sections.nav-sections{
            margin-bottom: 0;
        }
        .navigation{
            background: #fff;
            position: static;
            ul{
                position: static;
            }
            .level0{
                position: static;
                &.active{
                    > .level-top{
                        border-bottom: none;
                        color: #000;
                    }
                }
                > .level-top{
                    color: #ccc;
                    font-size: 14px;
                }

            }
            > ul.sub-menu{
                display: flex;
                width: 100%;
                border: none;
                box-shadow: none;
                list-style: none;
                li{
                    padding: 0 12px;
                    a{
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
            > .menu-pages{
                list-style: none;
                margin-top: -15px;
                li.level0 {
                    position: relative;
                    > a{
                        font-size: 14px;
                        font-weight: 400;
                        color: #000!important;
                        &:hover{
                            text-decoration: underline;

                        }
                    }
                }

            }
        }
        .section-items.nav-sections-items{
            .nav-sections-item-content:last-child{
                display: none!important;
            }
        }
        .navigation {
            .level0.parent{
                &:hover {
                    > .submenu{
                        z-index: 10;
                        display: block;
                        background: #fff;
                        list-style: none;
                        border: none;
                        a{
                            background:none;

                        }
                    }
                }
                .submenu{
                    li{
                        margin-bottom: 15px;
                        a{
                            color: #000!important;
                            padding: 0;
                            font-size: 14px;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }


        }
    }
}



.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .nav-toggle {
        display: none;
    }

    .nav-sections {
        .lib-vendor-prefix-flex-shrink(0);
        .lib-vendor-prefix-flex-basis(auto);
        margin-bottom: @indent__m;
    }

    .nav-sections-item-title {
        display: none;
    }

    .nav-sections-item-content > * {
        display: none;
    }

    .nav-sections-item-content {
        > .navigation {
            display: block;
        }
    }

    .lib-main-navigation-desktop();

    .panel.header {
        .links,
        .switcher {
            display: inline-block;
        }
    }
}



.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m-1) {
    .header-left{
        .sections.nav-sections{
            z-index: 9;
            left: 0;
            min-height: 100vh;
            height: 100%;
            padding-right: 0;
            position: fixed;
            text-align: right;
            top: 0;
            width: 270px;
            -webkit-transform: translateX(-100%);
            -moz-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            -o-transform: translateX(-100%);
            transform: translateX(-100%);
            background: #fff none repeat scroll 0 0;
            -moz-transition: all 0.5s ease-in-out 0s;
            -ms-transition: all 0.5s ease-in-out 0s;
            -o-transition: all 0.5s ease-in-out 0s;
            transition: all 0.5s ease-in-out 0s;
            &.active{
                -webkit-transform: none;
                -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
                transform: none;
            }
        }
        .section-items.nav-sections-items {
            .nav-sections-item-content{
                display: none!important;
                &:nth-child(2){
                    display: block!important;
                }
            }
        }
        .section-item-title.nav-sections-item-title{
            display: none;
        }
        .navigation {
            position: static;
            background: #fff none repeat scroll 0 0;
            top: 100%;
            padding: 0 20px 60px;
            left: 0;
            margin: 40px 0 0;
            z-index: 99999;
            overflow: auto;
            height: 100%;
            ul{
                display: block;
                padding: 0;
                text-align: left;
                list-style: none;
                li{
                    padding: 0;
                    margin-bottom: 0;
                    a{
                        text-transform: uppercase;
                        font-size: 17px;
                        padding: 10px 0;
                        display: block;
                        position: relative;
                        color: #444;
                    }
                    .mb-sub-menu{
                        padding: 10px;
                        li{
                            a{
                                padding: 7px 0;
                            }
                        }
                    }
                }
                &.sub-menu{
                    position: relative;
                    bottom: 0;
                    display: none;
                }
            }
        }
        .mb-menu-close{
            position: absolute;
            top: 10px;
            right: 25px;
            &:before{
                content: "\f00d";
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 30px;
            }
        }
        script{
            display: none!important;
        }
    }
}

