// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Luma theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

//  Fonts


//  Colors nesting
@page__background-color: @color-white;

//
//  Icons
//  ---------------------------------------------

@icon-success: '\e60e';
@icon-error: '\e61f';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-present: '\e62a';
@icon-gift-registry: '\e62b';

@icon-calendar__font-size: 23px;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//
//  Sidebar blocks
//  ---------------------------------------------

@block-items__counter__color: @color-gray43;

@primary__color: #000;
@primary__color__black: #000;
@primary__color__hover: #000;
@primary__color__border: #000;
@button-primary__color: #fff;
@active__color: #C22F00;
@page__background-color: #fff;

@link__color__hover: #f7f7f7;
@theme__color__primary-alt: #333;
@theme__color__primary: #000;
@button-primary__border: 1px solid #000;
@button-primary__hover__border: 1px solid rgba(148,122,81,0.2);
@focus__box-shadow: none;
@button__border-radius: 0;
@button__font-weight: 500;

@indent__base: 15px;

@link__visited__text-decoration: none;
@link__hover__text-decoration: none;
@link__active__text-decoration: none;


@screen__desktop_large: 1920px;
@screen__1250: 1250px;
@screen__1150: 1150px;
@screen__1024: 1024px;
@screen__1023: 1023px;
@screen__breakpoint: 991px;
@screen__920: 920px;
@screen__m-1: 767px;
@screen__600: 600px;
@screen__500: 500px;
@screen__mobile: 425px;
@screen__375: 375px;

@button__font-size__l: 1.4rem;
@button__padding__l: 7px 17px;



