<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
?>
<div class="icon-account">
    <a href="<?php echo $block->getUrl('customer/account'); ?>">
        <span class="icon"></span>
    </a>
    <div class="block block-customer">
        <div class="block-top">
            <div class="block-title">
                <?php if($customerSession->isLoggedIn()): ?>
                    <h3><span><?= __('You are logged in'); ?></span></h3>
                <?php else: ?>
                    <h3><span><?= __('You are not logged in'); ?></span></h3>
                <?php endif; ?>
            </div>
            <div class="block-content">
                <?php if($customerSession->isLoggedIn()): ?>
                    <a class="action primary" href="<?php echo $block->getUrl('customer/account/logout'); ?>">
                        <span><?= __('Sign out'); ?></span>
                    </a>
                <?php else: ?>
                    <a class="action primary" href="<?php echo $block->getUrl('customer/account/'); ?>">
                        <span><?= __('Sign in'); ?></span>
                    </a>
                <?php endif; ?>
            </div>
        </div>
        <div class="block-bottom">
            <?= $this->getLayout()
                ->createBlock('Magento\Cms\Block\Block')
                ->setBlockId('block_account_dropdown')
                ->toHtml();?>
        </div>
    </div>
</div>
