<?php
use Commercers\ExtendMenu\Model\Config\Source\CategoryType;
/**
 * Top menu for store
 *
 * @var $block \Magento\Theme\Block\Html\Topmenu
 * @var $helper \Commercers\ExtendMenu\Helper\Data
 */

$columnsLimit = $block->getColumnsLimit() ?: 0;
$_menuHtml = $block->getHtml('level-top', 'submenu', $columnsLimit);
$helper = $this->helper(Commercers\ExtendMenu\Helper\Data::class);

$isCategoryPage = $helper->isCategoryPage();
$isProductPage = $helper->isProductPage();
$categoryType = $helper->getCategoryType();

$dataCmsPageWomen = $helper->getDataCmsPageWomen();
$dataCmsPageMen = $helper->getDataCmsPageMen();

$womenSubCategories = $helper->getWomenSubCategories();
$menSubCategories = $helper->getMenSubCategories();


?>
<span class="mb-menu-close"></span>
<?php if ($this->getNameInLayout() == 'catalog.topnav'): ?>
    <?php if (!$categoryType): ?>
        <div class="navigation">
            <ul>
                <li class="level0 menu-size"><a href="<?=$helper->getUrlCmsPageWomen()?>" class="level-top" title="<?= $dataCmsPageWomen['title']?>"><?= $dataCmsPageWomen['title']?></a></li>
                <li class="level0 menu-size"><a href="<?=$helper->getUrlCmsPageMen()?>" class="level-top" title="<?= $dataCmsPageMen['title']?>"><?= $dataCmsPageMen['title']?></a></li>
            </ul>
            <div class="menu-pages">
                <ul class="nav-pages">
                    <?= /* @noEscape */ $_menuHtml?>
                    <?= $block->getChildHtml() ?>
                </ul>
            </div>
        </div>
    <?php elseif($categoryType == CategoryType::CATEGORY_WOMEN): ?>
        <div class="navigation">
            <ul class="menu-title">
                <li class="level0 menu-size active">
                    <a href="<?=$helper->getUrlCmsPageWomen()?>" class="level-top" title="<?= $dataCmsPageWomen['title']?>"><?= $dataCmsPageWomen['title']?></a>
                    <ul class="mb-sub-menu">
                        <?php foreach ($womenSubCategories as $womenSubCategory):?>
                            <li class="level1"><a href="<?= $womenSubCategory->geturl() ?>" title="<?= $womenSubCategory->getName(); ?>"><?= $womenSubCategory->getName(); ?></a></li>
                        <?php endforeach; ?>
                    </ul>
                </li>
                <li class="level0 menu-size"><a href="<?=$helper->getUrlCmsPageMen()?>" class="level-top" title="<?= $dataCmsPageMen['title']?>"><?= $dataCmsPageMen['title']?></a></li>
            </ul>
            <ul class="sub-menu">
                <?php foreach ($womenSubCategories as $womenSubCategory):?>
                    <li class="level1"><a href="<?= $womenSubCategory->geturl() ?>" title="<?= $womenSubCategory->getName(); ?>"><?= $womenSubCategory->getName(); ?></a></li>
                <?php endforeach; ?>
            </ul>
        </div>
    <?php elseif($categoryType == CategoryType::CATEGORY_MEN): ?>
        <div class="navigation">
            <ul class="menu-title">
                <li class="level0 menu-size"><a href="<?=$helper->getUrlCmsPageWomen()?>" class="level-top" title="<?= $dataCmsPageWomen['title']?>"><?= $dataCmsPageWomen['title']?></a></li>
                <li class="level0 menu-size active">
                    <a href="<?=$helper->getUrlCmsPageMen()?>" class="level-top" title="<?= $dataCmsPageMen['title']?>"><?= $dataCmsPageMen['title']?></a>
                    <ul class="mb-sub-menu">
                        <?php foreach ($menSubCategories as $menSubCategory):?>
                            <li class="level1"><a href="<?= $menSubCategory->geturl() ?>" title="<?= $menSubCategory->getName(); ?>"><?= $menSubCategory->getName(); ?></a></li>
                        <?php endforeach; ?>
                    </ul>
                </li>
            </ul>
            <ul class="sub-menu">
                <?php foreach ($menSubCategories as $menSubCategory):?>
                    <li class="level1"><a href="<?= $menSubCategory->geturl() ?>" title="<?= $menSubCategory->getName(); ?>"><?= $menSubCategory->getName(); ?></a></li>
                <?php endforeach; ?>
            </ul>
        </div>
    <?php endif; ?>
<?php endif; ?>
<script type="text/javascript">
    require ([
        'jquery'
    ], function ($) {
        $(document).ready(function () {
            $('.menu-pages li.parent > a').after('<span class="mb-dropdown mb-icon"></span>');
            $('.header-left .navigation .level0.parent').removeClass('active');
            $('.menu-pages li.parent .mb-dropdown.mb-icon').click(function (){
                $(this).parent().toggleClass('active');
                $(this).parent().siblings().removeClass('active');
                $(this).parent().siblings().find('.mb-dropdown').removeClass('active');
            });

            $('.mb-menu-close').click(function (){
                $('.sections.nav-sections').toggleClass('active');
                $('body').toggleClass('menu-active');
                if($('body').hasClass('menu-active')) {
                    $('.page-wrapper').after('<div class="overlay"></div>');
                } else {
                    $('.overlay').remove();
                }
            });
        });
    });
</script>

