<div class="product-info-bottom">
    <ul>
        <li><?= __('Kauf Auf Rechnung') ?></li>
        <li><?= __('Kostenloser Versand & Rückversand') ?></li>
        <li><?= __('100 Tage Rückgaberecht') ?></li>
        <li><?= __('16 Payback Basis-Punkte') ?></li>
    </ul>
</div>

