<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $mediaPath = $objectManager->get('Magento\Store\Model\StoreManagerInterface')
        ->getStore()
        ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>
<div class="lp-account-header">
    <div class="lp-links">
        <ul>
            <li><a href="javascript:void(0)" class="lp-login" data-id="#lp-top"><?= __('Login'); ?></a></li>
            <li><a href="javascript:void(0)" class="lp-register" data-id="#lp-top"><?= __('Register'); ?></a></li>
            <li><a href="javascript:void(0)" class="lp-about-us" data-id="#lp-bottom"><?= __('About us'); ?></a></li>
            <li><a href="<?= $this->getUrl('jobs') ?>"><?= __('Jobs'); ?></a></li>
        </ul>
    </div>
    <div class="lp-logo">
        <a href="<?= $this->getBaseUrl() ?>">
            <img src="<?= $mediaPath.'wysiwyg/sourkrauts_logo.png'; ?>" alt="">
        </a>
    </div>
    <script type="text/javascript">
        require ([
            'jquery'
        ], function ($) {
            $(document).ready(function () {
                $('.account-landing-page').attr("id","lp-top");
                $('.lp-login').click(function (){
                    $('.lp-left .login-banner').addClass('active');
                    $('.lp-right .login-container').addClass('active');
                    $('.lp-left .register-banner').removeClass('active');
                    $('.lp-right .register-container').removeClass('active');
                });
                $('.lp-register').click(function (){
                    $('.lp-left .register-banner').addClass('active');
                    $('.lp-right .register-container').addClass('active');
                    $('.lp-left .login-banner').removeClass('active');
                    $('.lp-right .login-container').removeClass('active');
                });

                function smoothScrollTo(anchor) {
                    var duration = 1000; //time (milliseconds) it takes to reach anchor point
                    var targetY = ($(anchor).offset().top);
                    $("html, body").animate({
                        "scrollTop" : targetY
                    }, duration, 'easeInOutCubic');
                }

                $('.lp-links a[data-id^="#"]').bind('click', function(event){
                    var anchor = $(this).attr('data-id');
                    smoothScrollTo(anchor);
                });

                var stickyHeaderTop = $('.lp-account-header').offset().top;
                $(window).scroll(function() {
                    if ($(window).scrollTop() > stickyHeaderTop) {
                        $('.lp-account-header').addClass('sticky');
                    } else {
                        $('.lp-account-header').removeClass('sticky');
                    }
                });

            });
        });
    </script>
</div>


