<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$mediaPath = $objectManager->get('Magento\Store\Model\StoreManagerInterface')
    ->getStore()
    ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>
<div class="lp-banner">
    <div class="login-banner active">
        <img src="<?= $mediaPath.'wysiwyg/login.jpg'; ?>" alt="">
    </div>
    <div class="register-banner">
        <img src="<?= $mediaPath.'wysiwyg/register.jpg'; ?>" alt="">
    </div>
</div>
