// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, .3);

@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .product-items{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -2px;
        .product-item{
            width: 25%;
            padding: 0 2px;
            margin-bottom: 25px;
            box-sizing: border-box;
            .product-item-name{
                font-size: 13px;
                font-weight: 600;
            }
            .product-item-photo
                {
                    &.has-flip {
                        position: relative;
                        display: block;
                        > div{
                            -webkit-transition: opacity 0.75s ease-in-out;
                            -moz-transition: opacity 0.75s ease-in-out;
                            -o-transition: opacity 0.75s ease-in-out;
                            transition: opacity 0.75s ease-in-out;
                            &.img-back{
                                opacity: 0;
                                position: absolute;
                                top: 0;
                            }
                        }
                        &:hover{
                            > div {
                                &.img-front {
                                    opacity: 0;
                                }
                                &.img-back{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            .price-box{
                .price-label{
                    display: none;
                }
                .price{
                    font-size: 13px;
                    font-weight: 600;
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m-1) {
    .product-items{
        .product-item{
            width: 33.333%;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__600) {
    .product-items{
        .product-item{
            width: 50%;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__500) {
    .product-items{
        .product-item{
            width: 100%;
            text-align: center;
        }
    }
}
