// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@minicart__border-color: @color-gray80;
@minicart__padding-horizontal: @indent__base;

@minicart-qty__height: 24px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Minicart
    //  ---------------------------------------------

    .icon-cart{
        position: relative;
        .counter.qty{
            position: absolute;
            right: 0;
            bottom: -5px;
            background: #000;
            color: #fff;
            height: 17px;
            width: 17px;
            line-height: 18px;
            text-align: center;
            border-radius: 50%;
            font-size: 10px;
            &.empty{
                display: none;
            }
        }
        .minicart-items-wrapper{
            height: inherit!important;
            ol{
                padding-left: 0;
                list-style: none;
                margin-bottom: 15px;
                li{
                    background: #eee;
                    border-radius: 2px;
                    margin: 10px 0 0;
                    padding: 10px;
                    position: relative;
                    .product{
                        display: flex;
                        .product-item-details{
                            padding-left: 20px;
                        }
                    }
                    .product.options.list{
                        dt{
                            font-weight: 400;
                            padding-right: 5px;
                            margin-bottom: 0;
                            &:after{
                                content: ': ';
                            }
                        }
                        dd{
                            margin-bottom: 0;
                        }
                        margin-bottom: 0;
                    }
                }
            }
            .price-container{
                .price{
                    font-weight: 400!important;
                    text-transform: uppercase;
                }
            }
            .product-item-name{
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }
    #minicart-content-wrapper{
        background: #fff;
        position: fixed;
        bottom: 0;
        top: 0;
        right: -360px;
        width: 350px;
        z-index: 99999;
        transition: right .3s ease-in-out;
        white-space: normal;
        border-left: 10px solid #eee;
        .content{
            height: 100%;
            overflow-y: auto;
            padding: 50px 30px 30px;
        }
        &.active{
            right: 0;
        }
        .action.primary.checkout{
            font-size: 18px!important;
            background: #555;
            border-color: #555;
            border-radius: 2px;
            color: #fff;
            padding: 15px !important;
            width: 100%;
            display: block;
            margin-bottom: 10px;
            font-weight: 400;
            text-transform: uppercase;
        }
        .action.viewcart{
            font-size: 18px;
            background: #fff;
            border-radius: 2px;
            color: #000;
            padding: 15px;
            display: block;
            border: 1px solid #444;
            text-transform: uppercase;
            font-weight: 400;
            text-align: center;
        }
        .subtotal{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 15px;
            .label{
                font-weight: 600;
                font-size: 16px;
                padding-right: 10px;
                &:after{
                    content: ':';
                }
            }
            .price{
                font-size: 30px;
                font-weight: 600;
            }
        }
        .action.delete{
            position: absolute;
            top: -10px;
            right: -5px;
            &:before{
                content: "\f057";
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                font-family: "Font Awesome 5 Free";
                font-weight: 400;
                font-size: 18px;
            }
        }
        .action.close{
            position: absolute;
            top: 5px;
            left: 15px;
            &:before{
                content: "\f00d";
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 30px;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
}
