<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Wishlist\Block\Customer\Sidebar $block */
?>
<?php
$wishlstViewModel = $block->getData('wishlistDataViewModel');

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$wishlist = $objectManager->get('\Magento\Wishlist\Model\Wishlist');
//var_dump($wishlist->deBug());exit;
?>
<div class="icon-wishlist">
    <a href="<?php echo $block->getUrl('wishlist'); ?>">
        <span class="icon"></span>
        <span data-bind="scope: 'wishlist'">
            <span class="counter empty" data-bind="css: { empty: wishlist().items.length == 0 }">
                <!-- ko if: wishlist().counter -->
                    <span data-bind="text: wishlist().items.length"></span>
                <!-- /ko -->
            </span>
        </span>
    </a>
    <?php if ($wishlstViewModel->isAllow()): ?>
        <div class="block block-wishlist" data-bind="scope: 'wishlist'">
            <!-- ko if: wishlist().counter -->
            <div class="block-inner">
                <div class="block-title">
                    <strong role="heading" aria-level="2"><?= $block->escapeHtml($block->getTitle()) ?></strong>
                </div>
                <div class="block-content">
                    <ol class="product-items no-display"
                        id="wishlist-sidebar"
                        data-bind="foreach: wishlist().items, css: {'no-display': null}">
                        <li class="product-item">
                            <div class="product-item-info">
                                <a class="product-item-photo" data-bind="attr: { href: product_url, title: product_name }">
                                    <!-- ko template: {name: $data.image.template, data: $data.image} --><!-- /ko -->
                                </a>
                                <strong class="product-item-name">
                                    <a data-bind="attr: { href: product_url }" class="product-item-link">
                                        <span data-bind="text: product_name"></span>
                                    </a>
                                </strong>
                                <div data-bind="html: product_price"></div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="block-actions">
                <div class="actions-toolbar no-display" data-bind="css: {'no-display': null}">
                        <a class="action primary details"
                           href="<?= $block->escapeUrl($wishlstViewModel->getListUrl()) ?>"
                           title="<?= $block->escapeHtmlAttr(__('Go to Wish List')) ?>">
                            <span><?= $block->escapeHtml(__('Go to Wish List')) ?></span>
                        </a>
                </div>
            </div>

            <!-- /ko -->
            <!-- ko ifnot: wishlist().counter -->
            <div class="block-inner">
                <div class="block-title">
                    <strong role="heading" aria-level="2"><?= $block->escapeHtml(__('Wishlist is empty!')) ?></strong>
                </div>
                <div class="empty"><span><?= __('Füge etwas mit '.'<span class="icon"></span>'.' zu Deiner Liste hinzu.') ?></span></div>
            </div>
            <div class="block-actions">
                <div class="actions-toolbar no-display" data-bind="css: {'no-display': null}">
                        <a class="action primary details"
                           href="<?= $block->escapeUrl($wishlstViewModel->getListUrl()) ?>"
                           title="<?= $block->escapeHtmlAttr(__('Go to Wish List')) ?>">
                            <span><?= $block->escapeHtml(__('Go to Wish List')) ?></span>
                        </a>
                </div>
            </div>
            <!-- /ko -->
        </div>
        <script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "wishlist": {
                        "component": "Magento_Wishlist/js/view/wishlist"
                    }
                }
            }
        }
    }
</script>
    <?php endif ?>
</div>

